[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
coverage = "*"

[packages]
flask = "*"
flask-testing = "*"
python-decouple = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"
coverage = "*"

[requires]
python_version = "3.7.0"
